.navbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}
