.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

.modal-content input,
.modal-content select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 22px); /* Full width, subtract border and padding */
  box-sizing: border-box; /* Make the width stay in size with padding */
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.modal-buttons .add-button {
  background-color: #ffb300;
  color: black;
}
.modal-buttons .cancel-button {
  background-color: lightgray;
  color: black;
}

.modal-buttons .add-button:hover {
  background-color: #ffd700;
}
.modal-buttons .cancel-button:hover {
  background-color: gray;
}
